
html, body {
    height: 100%;
    background-color: #026564;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #026564;
    overflow: hidden;
    text-align: center;
}

.container h1 {
    color: #a4a3e2;
    font-size: 40px;
    margin-top: 60px;
    font-family: Verdana, sans-serif;
}

p.form {
    font-size: 20px;
    font-family: Verdana, sans-serif;
}

input.form {
    font-size: 20px;
    font-family: Verdana, sans-serif;
}

button.form {
    font-size: 20px;
    font-family: Verdana, sans-serif;
}

.geocoded {
    text-align: center;
    margin-top: 50px;
}

.file_name {
   font-size: 20px;
   font-family: Verdana, sans-serif;
}

.menu {
   font-size: 20px;
   font-style: bold;
   font-family: Verdana, sans-serif;
}

.mapcontainer {
    height: 600px;
    width: 800px;
    background-color: transparent;
}

.headercontainer {
    margin: 0 auto;
    width: 100%;
    background-color: #026564;
    overflow: hidden;
    text-align: center;
}

.menu {
  float: center;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  color: #444;
  text-decoration: none;
}

.footer {
    bottom: 0;
    right: 0;
    text-align: right;
    position: absolute;
    background-color: transparent;
    font-family: Verdana, sans-serif;
}

.normally-invisible {
    visibility:hidden;
}

.currently-visible {
    visibility:visible;
}

.normally-deactivated {
    pointer-events: none;
    display: inline-block;
    opacity: 0.5;
    font-style:oblique;
}