{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href={{cdn_css|safe}} type="text/css" />
<script type="text/javascript" src={{cdn_javascript|safe}}></script>
<p>        {{webgeocoder_dict|safe}}
</p>
    <p>Graph to correlate organisation's number of employees and distance from the centre of San Francisco, CA, USA</p>
    <p>Graph here</p>
    <p>{{error_html|safe}}</p>
    <div class="mapcontainer">
    {{script1|safe}}
    {{div1|safe}}
    <!--  safe pipe so that code included is not escape'd -->
    </div>

{% endblock %}
