<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Super Geocoder</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div class="container">
        <h1>Super Geocoder</h1>
        <form action="{{url_for('success_table')}}"  method="POST" enctype="multipart/form-data">
            <p class="form">Please upload your CSV file. The values containing addresses should be in a column named <em>address</em> or <em>Address</em></p>
            <input type="file" name="file_name" title="Choose file" class="form"/> <button type="submit" class="form">Submit</button>
            <br>
            <p class="form">Feedback text here if any</p>
        </form>
    </div>
</body>
</html>