{% extends "layout.html" %}
<!-- <!DOCTYPE html> -->
<!--<html>-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Super Geocoder</title>-->
    <!--<link rel="stylesheet" href="../static/main.css">-->
<!--</head>-->
<!--<body>-->

{% block content %}

    <div class="container dataframecontainer">
        <h1>Super Geocoder</h1>
        <form action="{{url_for('index_success_table')}}"  method="POST" enctype="multipart/form-data">
            <p class="form">Please upload your CSV file. The values containing addresses should be in a column named <em>address</em> or <em>Address</em>.</p>
            <input type="file" name="file_name" title="Choose file" class="form file"/> <button type="submit" class="form file">Submit</button>
            <div class="normally-invisible"><div {{inline_visibility_flag_property|safe}}>
                <div class="file_name">{{file_name}}</div>
            </div></div>
            <br>
            <div class="normally-invisible"><div {{inline_visibility_flag_property|safe}}>{{result_html|safe}}</div></div>     <!-- need |safe pipe as incoming would be *otherwise escape'd* HTML string -->
        </form>
        <div class="normally-invisible download-button"><div {{inline_visibility_flag_property|safe}}>
        {% include btn ignore missing %}
        </div></div>
    </div>
{% endblock %}

<!--</body>-->
<!--</html>-->
