<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Super Geocoder</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
      <div class="headercontainer">
        <strong><nav>
          <ul class="menu">
            <li><a href="{{url_for('index')}}">Home</a> </li>
            <li><a href="{{url_for('atlas')}}" {{inline_disability_flag_property|safe}}
                   title="Please upload address data to see map"
                   alt="Please upload address data to see map"
                   class="normally-deactivated">Map</a> </li>
            <li><a href="{{url_for('graph')}}" {{inline_disability_flag_property|safe}}
                   title="Please upload address, name and number of employees data to see map"
                   alt="Please upload address, name and number of employees data to see map"
                   class="normally-deactivated">Graph</a> </li>
              <!-- TODO: CRUD with SQLite -->
          </ul>
        </nav></strong>
      </div>
    <div>
    {% block content %}
    {% endblock %}

    </div>

</body>
<div class="footer">
    <p>This app was developed as my final assignment for <a href="https://www.udemy.com/the-python-mega-course/" target="_blank">Udemy 'Python mega-course'</a>.</p>
    <p>Please find the <a href="https://github.com/pjenkin/PythonTutorial10WebGeocoderProject" target="_blank">github repo for this app here</a>.</p>
    <p>Sample data files <a href="https://drive.google.com/open?id=1I6ytywmgd_OHErLX5V-lAuKueoqSgOX5" target="_blank">for this app are available here</a>. </p>
    <!-- period/full stop https://ux.stackexchange.com/q/17331 -->
</div>
</html>